<% provide(:title, 'form handler info') %>

Set your form's action attribute to:
<div class="param"><%= "#{request.base_url}/go/#{@form.url}" %></div>


<h3>Information</h3>
Accepting submissions from: <div class="param"><%= @form.source_url %></div>
Responses are being sent to: <div class="param"><%= @form.email %></div>
Successful submissions forward to: <div class="param"><%= @form.success_url %></div>
Failed submissions forward to: <div class="param"><%= @form.failure_url %></div>


<a href="<%= "#{request.base_url}/delete/#{@form.admin_url}" %>">delete</a>