<!DOCTYPE html>
<html>
<head>
  <title>Brisk Forms</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" id="nav_home"><a href="/">Home</a></li>
        <li role="presentation" id="nav_new"><a href="/new"><b>Register a form</b></a></li>
        <li role="presentation" id="nav_guide"><a href="/guide">Guide</a></li>
        <li role="presentation" id="nav_contact"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Brisk Forms</h3>
  </div>

  <%= yield %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3959879379553229"
       data-ad-slot="4290591594"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <footer class="footer">
    <p>&copy; 2016 <a href="http://adamstevenson.me/">Adam Stevenson</a> - <a href="/legal/terms">Terms of Service</a></p>
  </footer>
</div>
</body>
</html>
